* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url("../img/background2.jpg");
    background-size: cover;
    text-align: center;
}

.title {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.homer-btn {
    background: none;
    border: none;
}

.homer-img {
    height: 100px;
    border-radius: 35px;
    cursor: grabbing;
}

.header {
    margin: 0 auto;
    font-size: 25px;
    width: 295px;
    background-color: #92d4f7a3;
    border-radius: 15px;
}

.life {
    margin: 5px;
}

.btns,
.pop-up-btn {
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: skyblue;
    border: 0.5px solid lightblue;
    border-radius: 25px;
    cursor: pointer;
    margin-inline: 10px;
}

.btns:hover {
    background-color: lightblue;
}

.main-board {
    background-color: rgb(212, 183, 139);
    border: 2px solid rgb(197, 155, 155);
    margin: 0 auto;
}

.board {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(252, 230, 199);
}

td {
    width: 45px;
    height: 45px;
}

.pop-up {
    background: none;
    margin: auto;
    top: 31.3%;
    left: 44%;
    width: 200px;
    height: 100px;
    display: none;
}

.cell {
    opacity: 0;
    cursor: pointer;
}

.flag {
    background-image: url("../img/beer.jpg");
    background-size: cover;
}