* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Protest Revolution', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


body {

    text-align: center;
}

.main-board {
    background-color: rgb(212, 183, 139);
    border: 2px solid rgb(197, 155, 155);
    margin: 0 auto;
}

.board {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(252, 230, 199);
}

td {
    width: 50px;
    height: 50px;
}

.cell {
    opacity: 0.5;
    cursor: pointer;
}

.flag {

    background-image: url("../img/beer.jpg");
    background-size: cover;
}

/* img {
    opacity: 1;
} */

/* background-image: url("../images/mine.png");
background-color: grey;
cursor: not-allowed;
} */